@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin panel";
}
@section Styles {
    <style>
        .statistics {
            background: red;
            width: 100%;
            height: 2000px;
        }
    </style>
}
<div class="statistics"></div>