@using NetFlex.DAL.Enums

@model IEnumerable<NetFlex.WEB.ViewModels.RoleViewModel>
 
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["CurrentPage"] = AdminPages.Roles;
}

<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<a asp-action="Create">Добавить роль</a>
<a asp-action="Users">Список пользователей</a>