
<div class="form-row">
	<div class="form-group col-md-6">
		<label>Title</label>
		<input type="text" name="Title" class="form-control" id="inputEmail4" placeholder="Title">
	</div>
	<div class="form-group col-md-6">
		<label>Description</label>
		<input type="text" name="AgeRating" class="form-control" id="inputPassword4" placeholder="AgeRating">
	</div>

	<div class="form-group col-md-6">
		<label>Description</label>
		<input type="text" name="VideoLink" class="form-control" id="inputPassword4" placeholder="VideoLink">
	</div>

	<div class="form-group col-md-6">
		<label>Description</label>
		<input type="text" name="Poster" class="form-control" id="inputPassword4" placeholder="Link on poster">
	</div>
</div>

<div class="form-group">
	<label>Description</label>
	<textarea name="Description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
</div>
