<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/NetFlex.WEB.styles.css" asp-append-version="true" />
	<script src="https://kit.fontawesome.com/3ee70c58bc.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="~/css/Admin/Admin.min.css" />
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<div class="container">
		<main role="main" class="pb-3">
			<div class="wrapper">
				<div class="menu">
					<a class="button" asp-controller="Admin" asp-action="Index" selected="false" data-url="/admin">
						<i class="fa-solid fa-chart-line"></i>
						<span>Statistics</span>
					</a>
					<a class="button" asp-controller="Admin" asp-action="Users" selected="false" data-url="/admin/users">
						<i class="fa-brands fa-accessible-icon"></i>
						<span>Users</span>
					</a>
					<hr />
					<a class="button" asp-controller="Admin" asp-action="Users" selected="false" data-url="/admin/plans">
						<i class="fa-solid fa-circle-dollar-to-slot"></i>
						<span>Subscription plans</span>
					</a>
					<hr />
					<a class="button" asp-controller="Admin" asp-action="Films" selected="false" data-url="/admin/films">
						<i class="fa-solid fa-clapperboard"></i>
						<span>Movies</span>
					</a>
					<a class="button" asp-controller="Admin" asp-action="Serial" selected="false" data-url="/admin/serials">
						<i class="fa-solid fa-film"></i>
						<span>Series</span>
					</a>
				</div>
				<div class="content">
					@RenderBody()
				</div>
			</div>
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script>
		document.querySelectorAll(".button").forEach(v => {
			if(v.getAttribute("data-url") == location.pathname.toLowerCase())
			{
				v.setAttribute("selected", true);
			}
		});
	</script>
</body>
</html>
