@{
	ViewData["Title"] = "Video";
	Layout = "~/Views/Shared/_VideoLayout.cshtml";
	ViewData["mainpage"] = false;

}
@{
	NetFlex.WEB.ViewModels.VideoPlayerViewModel m = new NetFlex.WEB.ViewModels.VideoPlayerViewModel()
			{
				EpisodeName = "ahahah lol hahaha",
				VideoLink = "https://raw.githubusercontent.com/1dxrpz/video-player-test-js/main/videos/preview2.mp4",
				VideoTitle = "ti 4mo vonuchee",
				EnableSeries = true
			};
}
@section Styles {
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/VideoPlayer.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Video/Video.min.css" asp-append-version="true" />
}
<div class="poster">
	<img class="image" src="https://cdn.pastemagazine.com/www/system/images/photo_albums/best-movie-posters-2016/large/moonlight-ver2-xlg.jpg?1384968217" />
	<div class="dot"></div>
	<div class="content">
		<div class="container">
			<div class="wrapper">
				<div class="poster_preview">
					<img src="https://cdn.pastemagazine.com/www/system/images/photo_albums/best-movie-posters-2016/large/moonlight-ver2-xlg.jpg?1384968217" />
				</div>
				<div class="text_content">
					<div class="title">Moonlight</div>
					<div class="tags">
						<div class="tag">Mystery</div>
						<div class="tag">Anime</div>
						<div class="tag">Nigga</div>
						<div class="tag">Horny</div>
						<div class="tag">Nigga</div>
						<div class="tag">Horny</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	@await Html.PartialAsync("../Shared/_VideoPlayerPartial.cshtml", @m)
</div>
@section Scripts {
<script src="~/js/VideoPlayer.js"></script>
<script>
		window.addEventListener('keydown', (e) => {
		if (e.keyCode === 32 && e.target === document.body) {
			e.preventDefault();
		}
	});
	var posterImage = document.querySelector(".poster>.image")
	window.onscroll = e => {
		posterImage.style.top = window.scrollY * 0.5 + 'px';
	}
</script>
}