@using Microsoft.AspNet.Identity.Owin
@using Microsoft.AspNetCore.Identity
@using NetFlex.DAL.EF
@inject UserManager<ApplicationUser> _userManager
@inject SignInManager<ApplicationUser> _sim

@{
    ViewData["Title"] = "Home Page";
}

<div class="main_wrapper">
    <div class="info">
        <div></div>
    </div>
</div>